#header-gallery .jumbotron{
    background-image: url(../assets/images/banner-gallery.png);
    height: 400px;
    text-align: center;
}

#header-gallery .display-4{
    color: white;
    align-items: center;
    font-size: 80px;
    margin: 50px;
}
#photos{
    margin: 100px 0px;
}
#photos .card {
    border-radius: 8px;
    height: 400px;
    width: 400px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 80px -10px black;
    overflow: hidden;
    margin-bottom: 40px;
}

#photos .card-blur {
    position: absolute;
    height: 100%;
    width: calc(100% + 1px);
    background-color: black;
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

#photos .card:hover .card-blur {
    opacity: 0.8;
}

#photos .footer {
    z-index: 1;
    position: absolute;
    max-height: 200px;
    width: 100%;
    bottom: 0;
    margin-bottom: 20px;
}

#photos .info {
    padding-left: 20px;
    transform: translateY(250px);
    transition: transform 1s cubic-bezier(.31,1.21,.64,1.02);
    color: white;
}

#photos .card:hover .info {
    transform: translateY(0px);
}

#photos .name {
    font-weight: bolder;
    padding-top: 5px;
}

#photos .caption {
    margin-top: 10px;
}